.carrinho-container {
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .carrinho-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .carrinho-item img {
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  