/* Estilos gerais */ 
body { 
    background-color:#ffffff;
    font-family: Arial, Helvetica, sans-serif; 
    color: rgba(59, 13, 13, 0.8); 
    margin: 0; 
}

body.login-page{
        background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco{   
   
   backdrop-filter:blur(15px);
   padding: 20px;
   border-radius: 10px; /* Cantos arredondados */ 
   box-shadow: 0 0 10px rgba(0, 0, 0, 1.0); /* Sombra leve */    
}

h1{
    color: #3a3a3d;
}

.linha{
    width:400px;
    height:2px;
    background: linear-gradient(to right, rgba(0,0,0,0), #3a3a3d, rgba(0,0,0,0)); 
    margin: 10px 0;
}

.input-container{
    width: 380px;
    margin-top:5px;
    position: relative;
    background-size: cover;
    backdrop-filter: blur(15px);
    left: 10px;
}


.input-field{
    width: 350px;
    height:35px;
    font-size:15px;
    border:2px solid#3a3a3d;
    font-size: 15px;
    padding-left: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0); /* Sombra leve */
    border-radius: 5px;
}

.email{
    display:flex;
    margin-right:5px;
    color:#1e1e1f;
    
}
.senha{
    display:flex;
    margin-right:5px;
    color:#1e1e1f; 
}

button{
    color:#122f86;
    font-weight:bold;
    background-color:#1e1e1f;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0); /* Sombra leve */
}
button:disabled{
    color: #999999;
    background-color:#cccccc;
    cursor: not-allowed;
}
.boton{
    padding: 30px;
    color: #1e1e1f;    
}

